body{
	background-color:black;
	color:#c1b492;
	letter-spacing:8px;
	font-smooth: never;
	-webkit-font-smoothing : none;
	text-align:center;
}

hr{
	border-color: white;
	width: 600px;
}

#login, h1{
	padding: 0;
	margin: auto;
	color: white;
}

#btn1{
	color: white;
	background-color: black;
	border-radius: 10%;
	height: 30px;
	width: 100px;
	font-size: 15px;
}

#btn1:hover{
	background-color: white;
	color: black;
}

#text1{
	font-family: arial;
	letter-spacing: 5px;
	text-align: justify;;
	padding: 50px;
	font-size: 10px;
	text-transform: uppercase;
}

#text1:first-line{
	color: red;
}
a{
	color: white;
	display: inline-block;
}

a:hover{
	color: red;
}

a:visited{
	color: purple;
}